<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui-mini/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-mini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="id" value=""/>

    <div class="layui-form-item">
        <label class="layui-form-label">AppSecret</label>
        <div class="layui-input-block">
            <div>
                <div class="layui-inline" style="width: 300px">
                    <input type="text" name="appSecret" placeholder="请生成AppSecret" value="" class="layui-input"
                           disabled>
                </div>
                <button id="generateSecretBtn" type="button" class="layui-btn layui-btn-sm layui-inline"
                        style="margin-top: 4px">生成
                </button>
            </div>
            <tip style="color: #f60606; font-size: 11px">
                如果你想要该执行器和调度中心交互时进行鉴权，则生成AppSecret，不生成则不鉴权。
            </tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">AppKey</label>
        <div class="layui-input-block">
            <input type="text" name="appKey" lay-verify="required" lay-reqtext="AppKey不能为空"
                   placeholder="请输入AppKey" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">执行器名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="执行器名称不能为空"
                   placeholder="请输入执行器名称" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">注册类型</label>
        <div class="layui-input-block">
            <input id="autoRegistry" type="radio" name="registryType" value="0" title="自动注册" checked=""
                   lay-filter="registryTypeFilter">
            <input id="manualRegistry" type="radio" name="registryType" value="1" title="手动注册"
                   lay-filter="registryTypeFilter">
        </div>
    </div>

    <div id="addressesDiv" class="layui-form-item" style="display: none">
        <label class="layui-form-label required">执行器节点地址</label>
        <div class="layui-input-block">
            <textarea name="addresses" placeholder="请输入执行器节点地址，多个请用英文逗号分隔" value=""
                      class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../static/layui-mini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="../static/layui-mini/js/lay-config.js?v=2.0.0" charset="utf-8"></script>
<script>
    layui.use(['loginCheck', 'form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        let registryType = 0;
        let addresses = '';
        // 定义初始化方法，给父页面调用，达到传递数据的目的
        window.initExecutorEditLayer = function (params) {
            let div = document.getElementById('addressesDiv');
            $('input[name="id"]').val(params.id);
            $('input[name="appKey"]').val(params.appKey);
            $('input[name="name"]').val(params.name);
            $('input[name="registryType"]').val(params.registryType);
            registryType = params.registryType;
            if (params.registryType === 0) {
                $('#autoRegistry').attr('checked', true);
                div.style.display = 'none';
            } else if (params.registryType === 1) {
                $('#manualRegistry').attr('checked', true);
                div.style.display = 'block';
                $.getJSON('/admin/executor/nodes/by-executorid', {executorId: params.id}, function (res) {
                    if (res.success) {
                        addresses = res.data.map(v => v.address).join(',');
                        $('textarea[name="addresses"]').val(addresses);
                    }
                })
            }
            if (params.appSecret) {
                $('input[name="appSecret"]').val(params.appSecret);
                $('#generateSecretBtn')
                    .addClass('layui-btn-disabled')
                    .removeClass('layui-btn-normal')
                    .attr('disabled', true);
                form.render();
            } else {
                form.render('radio');
            }
        }

        // 监听单选框切换
        form.on('radio(registryTypeFilter)', function (data) {
            let title = data.othis[0].innerText;
            let div = document.getElementById('addressesDiv');
            if (title.includes('自动注册')) {
                registryType = 0;
                div.style.display = 'none';
            } else {
                registryType = 1;
                div.style.display = 'block';
            }
        });

        // 监听提交
        form.on('submit(saveBtn)', function (data) {
            let field = data.field;
            $.post('/admin/executor/edit', field, function (res) {
                if (res.success) {
                    let index = layer.msg('执行器修改成功', {icon: 6, time: 500}, function () {
                        // 关闭弹出层
                        layer.close(index);

                        let iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    });
                } else {
                    layer.msg(res.msg, {icon: 5, time: 1000});
                }
            }, 'json');
            return false;
        });

        // 定义 appSecret 生成按钮点击事件
        $('#generateSecretBtn').click(function (data) {
            $.post('/admin/executor/generate-secret', function (res) {
                if (res.success) {
                    $('input[name="appSecret"]').val(res.data);
                    let index = layer.msg('生成[AppSecret]成功', {icon: 6, time: 500}, function () {
                        // 关闭弹出层
                        layer.close(index);
                    });
                } else {
                    layer.msg(res.msg, {icon: 5, time: 1000});
                }
            }, 'json');
        });

    });
</script>
</body>
</html>